footer#myFooter
  .container
    .row
      .col-sm-3
        h5 Use Eventbrite
        |                 
        ul
          li
            a.footer_text(href='#') How It Works              
          li
            a.footer_text(href='#') For Large &amp; Complex Events
          |                     
          li
            a.footer_text(href='#') Pricing
          |                     
          li
            a.footer_text(href='#') Community Guidelines
      |             
      .col-sm-3
        h5 Plan Events
        |                 
        ul
          li
            a.footer_text(href='#') Conference Management Software
          |                     
          li
            a.footer_text(href='#') Reunions
          |                     
          li
            a.footer_text(href='#') Nonprofits &amp; Fundraisers
          |                     
          li
            a.footer_text(href='#') Eventbrite Reviews
      |             
      .col-sm-3
        h5 Support
        |                 
        ul
          li
            a.footer_text(href='#') Conference Management Software
          |                     
          li
            a.footer_text(href='#') Reunions
          |                     
          li
            a.footer_text(href='#') Nonprofits &amp; Fundraisers
          |                     
          li
            a.footer_text(href='#') Eventbrite Reviews
      |             
      .col-sm-3.info
        h5 Information
        |                 
        ul
          li
            a.footer_text(href='#') Conference Management Software
          |                     
          li
            a.footer_text(href='#') Reunions
          |                     
          li
            a.footer_text(href='#') Nonprofits &amp; Fundraisers
          |                     
          li
            a.footer_text(href='#') Eventbrite Reviews
  |     
  hr
  |     
  .second-bar
    .container
      h2.logo
        a(href='#')  LOGO 
      |             
      br
      |             
      li
        a.text-body-small(href='#') Argentina
      |             
      li
        a.text-body-small(href='#') Australia
      |             
      li
        a.text-body-small(href='#') Brasil
      |             
      li
        a.text-body-small(href='#') Canada (EN)
      |             
      li
        a.text-body-small(href='#') Canada (FR)
      |             
      li
        a.text-body-small(href='#') Chile
      |             
      li
        a.text-body-small(href='#', d='') Colombia
      |             
      li
        a.text-body-small(href='#') Ireland
      |             
      li
        a.text-body-small(href='#') Italia
      |             
      li
        a.text-body-small(href='#') Mexico
      |             
      li
        a.text-body-small(href='#') Nederland
      |             
      li
        a.text-body-small(href='#') New Zealand
      |             
      li
        a.text-body-small(href='#') Peru
      |             
      li
        a.text-body-small(href='#') Portugal
      |             
      li
        a.text-body-small(href='#') Singapore
      |             
      li
        a.text-body-small(href='#') United Kingdom
      |             
      li
        a.text-body-small(href='#') United States
  |     
  hr
  |     
  .third-bar
    .container
      h2.logo
        a(href='#')  LOGO 
      |             
      br
      |             
      li
        a.text-body-small(href='#') Argentina
      |             
      li
        a.text-body-small(href='#') Australia
      |             
      li
        a.text-body-small(href='#') Brasil
      |             
      li
        a.text-body-small(href='#') Canada (EN)
      |             
      li
        a.text-body-small(href='#') Canada (FR)
      |             
      li
        a.text-body-small(href='#') Chile
      |             
      li
        a.text-body-small(href='#', d='') Colombia
      |             
      li
        a.text-body-small(href='#') Ireland
      |             
      li
        a.text-body-small(href='#') Italia
      |             
      li
        a.text-body-small(href='#') Mexico
      |             
      li
        a.text-body-small(href='#') Nederland
      |             
      li
        a.text-body-small(href='#') New Zealand
  |     
  hr
  |     
  .third-bar
    .container
      | 2017 HyunJu CopyRight
    |         
    br
