footer#myFooter
  .container
    .row
      .col-sm-3
        h5 Use Eventbrite
        |                 
        ul
          li
            a.footer_text(href='#') How It Works              
          li
            a.footer_text(href='#') For Large &amp; Complex Events
          |                     
          li
            a.footer_text(href='#') Pricing
          |                     
          li
            a.footer_text(href='#') Community Guidelines
          li
            a.footer_text(href='#') Eventbrite Mobile App             
          li
            a.footer_text(href='#') Eventbrite Check-In App
          li
            a.footer_text(href='#')  How It Works   
          li
            a.footer_text(href='#') Sitemap           
          li
            a.footer_text(href='#') Check-In App                  
      |             
      .col-sm-3
        h5 Plan Events
        |                 
        ul
          li
            a.footer_text(href='#') Conference Management
          |                     
          li
            a.footer_text(href='#') Reunions
          |                     
          li
            a.footer_text(href='#') Nonprofits &amp; Fundraisers
          |                     
          li
            a.footer_text(href='#') Eventbrite Reviews
          li
            a.footer_text(href='#') Online RSVP
          li
            a.footer_text(href='#') Software
          |                   
          li
            a.footer_text(href='#') Nonprofits
          |                     

      |             
      .col-sm-3
        h5 Find Events
        |                 
        ul
          li
            a.footer_text(href='#') Boston Events
          |                     
          li
            a.footer_text(href='#') Chicago Events
          |                     
          li
            a.footer_text(href='#') Denvor Events
          |                     
          li
            a.footer_text(href='#') Houeston Events
          li
            a.footer_text(href='#') Los Angeles Events                   
          li
            a.footer_text(href='#') New York Events
          |                     
          li
            a.footer_text(href='#') San Diego Events
          li
            a.footer_text(href='#') Houeston Events
          li
            a.footer_text(href='#') Los Angeles Events  
          li
            a.footer_text(href='#') All Cities
          |                     

      |             
      .col-sm-3.info
        h5 Connect With Us
        |                 
        ul
          li
            a.footer_text(href='#') Contact Support
          |                     
          li
            a.footer_text(href='#') Contact Salse
          |                     
          li
            a.footer_text(href='#') 
              i.fa.fa-twitter
                |  Twiiter
          |                     
          li
            a.footer_text(href='#') 
              i.fa.fa-facebook
              |  Facebook
          li
            a.footer_text(href='#') 
              i.fa.fa-linkedin
              |  LinkedIn
          |                     
          li
            a.footer_text(href='#') 
              i.fa.fa-instagram
                |  Instagram
          li
            a.footer_text(href='#') 
              i.fa.fa-google
                |  Google
  |     
  hr
  |     
  .second-bar
    .container
      .logo
        a(href='#') Country 
      |             
      br
      br
      |             
      li
        a.text-body-small(href='#') Argentina
      |             
      li
        a.text-body-small(href='#') Australia
      |             
      li
        a.text-body-small(href='#') Brasil
      |             
      li
        a.text-body-small(href='#') Canada (EN)
      |             
      li
        a.text-body-small(href='#') Canada (FR)
      |             
      li
        a.text-body-small(href='#') Chile
      |             
      li
        a.text-body-small(href='#', d='') Colombia
      |             
      li
        a.text-body-small(href='#') Ireland
      |             
      li
        a.text-body-small(href='#') Italia
      |             
      li
        a.text-body-small(href='#') Mexico
      |             
      li
        a.text-body-small(href='#') Nederland
      |             
      li
        a.text-body-small(href='#') New Zealand
      |             
      li
        a.text-body-small(href='#') Peru
      |             
      li
        a.text-body-small(href='#') Portugal
      |             
      li
        a.text-body-small(href='#') Singapore
      |             
      li
        a.text-body-small(href='#') United Kingdom
      |             
      li
        a.text-body-small(href='#') United States
      |             
       
  |     
  hr
  |     
  .third-bar
    .container

      |             
      br
      |             
      li
        a.text-body-small(href='#') About
      |             
      li
        a.text-body-small(href='#') Blog
      |             
      li
        a.text-body-small(href='#') Help
      |             
      li
        a.text-body-small(href='#') Careers
      |             
      li
        a.text-body-small(href='#') Press
      |             
      li
        a.text-body-small(href='#') Security
      |             
      li
        a.text-body-small(href='#', d='') Developers
      |             
      li
        a.text-body-small(href='#') Terms
      |             
      li
        a.text-body-small(href='#') Privacy
      |             
      li
        a.text-body-small(href='#') Cookies

  |     
  hr
  |     
  .third-bar
    .container
      | 2017 HyunJu CopyRight
    |         
    br
