extends layout

//- block hero-unit
//-   .jumbotron
//-     .container

block content
  // Navigation
  header
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
        |             
        li(data-target='#carouselExampleIndicators', data-slide-to='1')
        |             
        li(data-target='#carouselExampleIndicators', data-slide-to='2')
      |         
      .carousel-inner(role='listbox')
        // Slide One - Set the background image for this slide in the line below
        .carousel-item.active
          img(src='images/architecture-2562705_1920.jpg')
          |                 
          .carousel-caption.d-none.d-md-block
            //
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
        // Slide Two - Set the background image for this slide in the line below
        .carousel-item
          img(src='images/gordon-williams-257623.jpg')
          |                 
          .carousel-caption.d-none.d-md-block
        // Slide Three - Set the background image for this slide in the line below
        .carousel-item
          img(src='images/img.jpg')
          |                 
          .carousel-caption.d-none.d-md-block
  // Page Content
  .container
    
    
    
    br
    |     
    h5 Popular Events in Seoul, Republic of Korea
    // Portfolio Section
    br
    |     
    .row
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='#')
            img.card-img-top(src='images/vincent-guth-314896.jpg', alt='')
          |                 
          .card-body
            p.card-text
              | SUN, OCT 29 7:00PM
            |                     
            h6.card-title
              a(href='#')  European MBA Night (IE, IESE, SDA Bocconi)
            |                     
            p.card-text
              | UGC MBA in &#xC555;&#xAD6C;&#xC815;&#xB3D9; Nonhyun-ro 176-gil 22
      |         
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='#')
            img.card-img-top(src='images/vincent-guth-314896.jpg', alt='')
          |                 
          .card-body
            p.card-text
              | SUN, OCT 29 7:00PM
            |                     
            h6.card-title
              a(href='#')  European MBA Night (IE, IESE, SDA Bocconi)
            |                     
            p.card-text
              | UGC MBA in &#xC555;&#xAD6C;&#xC815;&#xB3D9; Nonhyun-ro 176-gil 22
      |         
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='#')
            img.card-img-top(src='images/vincent-guth-314896.jpg', alt='')
          |                 
          .card-body
            p.card-text
              | SUN, OCT 29 7:00PM
            |                     
            h6.card-title
              a(href='#')  European MBA Night (IE, IESE, SDA Bocconi)
            |                     
            p.card-text
              | UGC MBA in &#xC555;&#xAD6C;&#xC815;&#xB3D9; Nonhyun-ro 176-gil 22
      |         
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='#')
            img.card-img-top(src='images/vincent-guth-314896.jpg', alt='')
          |                 
          .card-body
            p.card-text
              | SUN, OCT 29 7:00PM
            |                     
            h6.card-title
              a(href='#')  European MBA Night (IE, IESE, SDA Bocconi)
            |                     
            p.card-text
              | UGC MBA in &#xC555;&#xAD6C;&#xC815;&#xB3D9; Nonhyun-ro 176-gil 22
      |         
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='#')
            img.card-img-top(src='images/vincent-guth-314896.jpg', alt='')
          |                 
          .card-body
            p.card-text
              | SUN, OCT 29 7:00PM
            |                     
            h6.card-title
              a(href='#')  European MBA Night (IE, IESE, SDA Bocconi)
            |                     
            p.card-text
              | UGC MBA in &#xC555;&#xAD6C;&#xC815;&#xB3D9; Nonhyun-ro 176-gil 22
      |         
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='#')
            img.card-img-top(src='images/vincent-guth-314896.jpg', alt='')
          |                 
          .card-body
            p.card-text
              | SUN, OCT 29 7:00PM
            |                     
            h6.card-title
              a(href='#')  European MBA Night (IE, IESE, SDA Bocconi)
            |                     
            p.card-text
              | UGC MBA in &#xC555;&#xAD6C;&#xC815;&#xB3D9; Nonhyun-ro 176-gil 22
      |         
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='#')
            img.card-img-top(src='images/vincent-guth-314896.jpg', alt='')
          |                 
          .card-body
            p.card-text
              | SUN, OCT 29 7:00PM
            |                     
            h6.card-title
              a(href='#')  European MBA Night (IE, IESE, SDA Bocconi)
            |                     
            p.card-text
              | UGC MBA in &#xC555;&#xAD6C;&#xC815;&#xB3D9; Nonhyun-ro 176-gil 22
      |         
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='#')
            img.card-img-top(src='images/vincent-guth-314896.jpg', alt='')
          |                 
          .card-body
            p.card-text
              | SUN, OCT 29 7:00PM
            |                     
            h6.card-title
              a(href='#')  European MBA Night (IE, IESE, SDA Bocconi)
            |                     
            p.card-text
              | UGC MBA in &#xC555;&#xAD6C;&#xC815;&#xB3D9; Nonhyun-ro 176-gil 22
      |         
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='#')
            img.card-img-top(src='images/vincent-guth-314896.jpg', alt='')
          |                 
          .card-body
            p.card-text
              | SUN, OCT 29 7:00PM
            |                     
            h6.card-title
              a(href='#')  European MBA Night (IE, IESE, SDA Bocconi)
            |                     
            p.card-text
              | UGC MBA in &#xC555;&#xAD6C;&#xC815;&#xB3D9; Nonhyun-ro 176-gil 22
    // /.row
    .button
      a.btn.btn-lg.btn-secondary.btn-block(href='#') See More
    // Features Section
    br
    |     
    br
    |     
    h3.browse Browse by Top Categories
    |     
    .container-fluid
      .row
        .col-md-8
          .ih-item.square.effect6.from_top_and_bottom(style='height:100%')
            a(href='#')
              .img(style='height:100%')
                img(src='./images/network.JPG', alt='img', style='height:100%')
              |                         
              .text
                h4 Music
              |                         
              .info
                h3 Music
                |                             
                p Intimate house concerts, major music festivals, and the occational dance party
        |             
        .col-md-4
          .ih-item.square.effect6.from_top_and_bottom(style='height:100%')
            a(href='#')
              .img(style='height:100%')
                img(src='./images/network.JPG', alt='img', style='height:100%')
              |                         
              .text
                h3 Food Drink 
              |                         
              .info
                h3 Heading here
                |                             
                p Description goes here
      |         
      .row
        .col-md-4
          .ih-item.square.effect6.from_top_and_bottom(style='height:100%')
            a(href='#')
              .img(style='height:100%')
                img(src='./images/network.JPG', alt='img', style='height:100%')
              |                         
              .text
                h3 Heading here
              |                         
              .info
                h3 Heading here
                |                             
                p Description goes here
        |             
        .col-md-4
          .ih-item.square.effect6.from_top_and_bottom(style='height:100%')
            a(href='#')
              .img(style='height:100%')
                img(src='./images/network.JPG', alt='img', style='height:100%')
              |                         
              .text
                h3 Heading here
              |                         
              .info
                h3 Heading here
                |                             
                p Description goes here
        |             
        .col-md-4
          .ih-item.square.effect6.from_top_and_bottom(style='height:100%')
            a(href='#')
              .img(style='height:100%')
                img(src='./images/network.JPG', alt='img', style='height:100%')
              |                         
              .text
                h3 Heading here
              |                         
              .info
                h3 Heading here
                |                             
                p Description goes here
      |         
      .row
        .col-md-4
          // normal
          .ih-item.square.effect6.from_top_and_bottom(style='height:100%')
            a(href='#')
              .img(style='height:100%')
                img(src='./images/sport.JPG', alt='img', style='height:100%')
              |                         
              .text
                h3 Heading here
              |                         
              .info
                h3 Heading here
                |                             
                p Description goes here
          // end normal
        |             
        .col-md-8
          a(href='#')
            .ih-item.square.effect6.from_top_and_bottom(style='height:100%')
              a(href='#')
                .img(style='height:100%')
                  img(src='./images/network.JPG', alt='img', style='height:100%')
                |                             
                .text
                  h3 Heading here
                |                             
                .info
                  h3 Heading here
                  |                                 
                  p Description goes here
  br
