body {
  padding-top: 25px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}
.carousel-item.active > img{
  height: 100%;
}

.face > .btn.btn-dark.btn-block{
  background-color: #00008B;
  margin-top: 6px;
}
.kakao > .btn.btn-dark.btn-block{
  background-color: #FFD700;
  margin-top: 6px;
  border-color:  #FFD700;
}
  .rrr .card-body{
    height: 6em;
  }
.button_loc{
margin-left: 30em;
}
.small{
  font-size: 0.5em;
}
.smallText{
  font-size: 0.9em;
  color: #585858;
}

.author {
  text-align: right;
  font-size: 0.6em;
  color: #81bbf2; }

.numbers {
  text-align: left;
  color: #81bbf2; }

.card-text{
  font-size: 0.5em;
  text-align: left;
  text-decoration: none;
text-align: left;
}

.questions{
  font-size:0.35em;
  width:100%;
}


.form-inline.search-input-group{
  width: 28%;
  margin-left: 1em;
}

.form-control.mr-sm-2{
  border-radius:0px;
margin-left: 1em;
}


.main-title {
  font-family: 'Raleway';
  font-size: 2.5rem;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  color: #000000; }

.header > .navbar {
  background-color: #ffffff !important;
  font-size: 1em;
}
.nav-item-B{
  margin-top: 6px;
}

col-lg-4.col-sm-6.portfolio-item{
  display:inline-block;
}

@media (max-width: 995px) {

  .carousel.slide{

    margin-top: 0px;
  }
  body {
    padding-top: 56px;
  }
  .button{
    width:40%;

  }
  .search-card .SearchBar .SearchBar-component .custom-select {

  }
  .search-card .SearchBar button {
    margin-left: 2em;
  }
img{
  padding-top:
}

  #myFooter .container .row  {
display:none;
overflow: hidden; text-overflow: ellipsis;

  }

  #myFooter .second-bar {
  display:none;
  overflow: hidden; text-overflow: ellipsis;

  }

  #myFooter .third-bar .container .logo{
  display:none;
  overflow: hidden; text-overflow: ellipsis;


  }

}

@media (min-width: 700px) {


.search-card {
  width: 100%;
}
.carousel.slide{

  margin-top: 0px;
}
.rr{
  display: none;
}
.button_loc{
margin-left: 14em;
}


}
@media (min-width: 571px) {
  .rr{
    display: none;}

  }
@media (min-width: 300px) {
  .button .btn btn-lg btn-secondary btn-block{
    width:30%;

  }
.header.clearfix{
    width: 20%;
  }

  .btn-group-lg>.btn, .btn-lg{
    font-size: 0.8em;
    text-align: center;
  }

}



@media (max-width: 570px) {
.carousel.slide{
  display:none;
  margin-top: 0px;
}

.button_loc{
margin-left: 10em;
width: 100%;
}
.button{
  width: 100%;
}
.search-card{
  display: none;
}
  .search-card .SearchBar {
    display: block;
  }

    #myFooter .container .row  {
  display:none;
  overflow: hidden; text-overflow: ellipsis;

    }
    #myFooter .second-bar {
    display:none;
    overflow: hidden; text-overflow: ellipsis;

    }

    #myFooter .third-bar .container .logo{
    display:none;
    overflow: hidden; text-overflow: ellipsis;

    }

    .button .btn.btn-lg.btn-secondary.btn-block{
      width:10%;

    }
    .btn-group-lg>.btn, .btn-lg{
      font-size: 0.8em;
      text-align: center;
    }


  }

.carousel-item {
  height: 30em;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}


img{
  width : 100%;

}

.navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top{
  background-color: white;

}




#myFooter {
    background-color: #2d313c;
    color: white;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify;
    color: #2d313c;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}
#myFooter ul>li{
  font-size: 0.9em;
  margin-left: 3em;
}
#myFooter h5 {
    font-size: 1em;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:white;
    font-size: 15px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #ffffff;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #2d313c;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 15px;
    color: #ffffff;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}
#myFooter .second-bar li{
  text-decoration: none;
  list-style: none;
 display:inline;
}

#myFooter .second-bar li a{
 font-size: 1em;

}

#myFooter .second-bar a:hover {
    text-decoration: none;
}


#myFooter .third-bar {
    text-align: center;
    background-color: #2d313c;
    text-align: center;
}
#myFooter .third-bar .container .logo{
  text-align: left;
}

#myFooter .third-bar a {
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}
#myFooter .third-bar li{
  text-decoration: none;
  list-style: none;
 display:inline;
}

#myFooter .third-bar li a{
 font-size: 1em;

}

#myFooter .third-bar a:hover {
    text-decoration: none;
}
#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {


  /*.question .row{
    width: 70%;
  }*/
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }


}

html{
    height: 100%;
}

.search-card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  width: 90%;
  height: 10%;
  margin: auto;
  position: relative;
  z-index: 2;
  background-color: white;
  top: -5em;
}

 .search-card .searchmes {
  color: #f6682F;
  text-align: center;

  padding-top: 2em;
  font-weight: bold;
}
 .search-card .searchmes .col-12{
   font-size: 2.7em;
 }
.search-card .SearchBar {
  padding: 2.5em 0;
}
 .search-card .SearchBar .SearchBar-component {
  display: inline-block;
  width: 20%;
  margin-top: 1em;
}
.search-card .SearchBar .SearchBar-component .custom-select {
  width: 100%;
}
.search-card .SearchBar button {
  background-color: #f6682F;
  color: white;
  font-weight: 600;
  box-sizing: border-box;
  width: 70%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}





.browse{
  text-align: center;
}
.button{
  width:30%;

}

.row .col-md-8{
  padding-top:  1.5em;
  padding-bottom:  1.2em;
  height: 220px;
}
.row .col-md-8 .text{
  position:absolute;

   top:10em;

   left:30em;
 color: #ffffff;

  }


.row .col-md-4{
  padding-top: 1.5em;
    padding-bottom:  1.2em;
    height: 220px;
}
 .row .col-md-4 .text{
  position:absolute;
  top:4.5em;
  left:5em;
 color: #ffffff;

}
.row .col-md-8 .text{
  position:absolute;
  top:5em;
  left:20em;
 color: #ffffff;

}

.row .col-md-4:hover {
  -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
    filter: grayscale();

      overflow: hidden;
      -webkit-transition:.4s;
      -moz-transition:.4s;
      -ms-transition:.4s;
      -o-transition:.4s;
      transition:.4s;
     transition: all 0.4s ease-in-out;
}

.row .col-md-4 img{
    -webkit-transform:scale(1);
     -moz-transform:scale(1);
     -ms-transform:scale(1);
     -o-transform:scale(1);
     transform:scale(1);

     -webkit-transition:1s;
     -moz-transition:1s;
     -ms-transition:1s;
     -o-transition:1s;
     transition:1s;
       transition: all 1s ease-in-out;
       overflow: hidden;


}
.col-md-4 .text .texts{
  visibility: hidden;
}
.col-md-4:hover .texts{
  visibility: visible;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
  transition:1s;
    transition: all 1s ease-in-out;
}


.ih-item.square.effect6 .text{
  visibility: visible;
  text-align: center;
}


.container h5{
  text-align: center;
}
.card-title a{
  color:#000000;
}
