extends ../layout

block content
  .container


    h1.main-title= questions.title

    .question.show
      each survey in surveys
        .row
          .col-sm-4
            .title
            | 아이디
            .content= survey.author
          .col-sm-4
            .title
            | 소속
            .smallText= survey.survey_sosok
            br
            br  
            .title
            | 참가신청 이유
            .smallText= survey.survey_reason
  
